.button {
  background-color: #092fe5;

  padding: 10px 25px;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 8px;
  color: #fff;

  @include media("<=phone") {
    font-size: 6rem;
    padding: 20px 50px;
    border-radius: 10px;
  }
}
