.header {
  background-color: aquamarine;

  &__container {
    background-color: beige;
    display: flex;
    padding: 25;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }
  &__logo {
    a {
      text-decoration: none;
    }

    &--heading {
      font-size: 2rem;
      font-weight: 800;
    }
  }
  &__nav {
  }
}
