.sub {
  @include media("<=phone") {
    margin-top: 50%;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    @include media("<=phone") {
      flex-direction: column;
    }
    @include media("<=tablet") {
      justify-content: flex-start;
      margin: 0 8%;
    }

    @include media("<=desktop") {
      justify-content: flex-start;
    }
  }

  &__heading {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;

    @include media("<=phone") {
      margin-left: 150%;
    }
    @include media("<=desktop") {
      width: 350px;
      margin-left: 10%;
    }

    &-circle {
      z-index: -5;
      position: absolute;
      display: block;
      top: -5px;

      left: 150px;
      width: 80px;
      height: 80px;
      border-radius: 100px;
      background-color: #749485;

      @include media("<=phone") {
        top: -10px;

        left: -20px;
        width: 120px;
        height: 120px;
      }
    }

    &-1 {
      h2 {
        font-size: 4rem;
        line-height: 1.2;
        font-weight: bold;
        @include media("<=phone") {
          font-size: 8rem;
        }
      }

      p {
        line-height: 1.5;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 3%;
        margin-bottom: 5%;
        @include media("<=phone") {
          font-size: 6rem;
          line-height: 1.2;
        }
      }
    }

    &-2 {
      display: flex;
      width: 500px;
      align-items: center;
      justify-content: space-evenly;

      @include media("<=phone") {
        width: auto;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 2%;
        margin-top: 8%;
        letter-spacing: 0.05rem;

        @include media("<=phone") {
          font-size: 5rem;
          line-height: 1.2;
          margin-bottom: 2%;
          margin-top: 4%;
        }
      }

      p {
        line-height: 1.5;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #d0d4d8;

        @include media("<=phone") {
          font-size: 4rem;
          line-height: 1.2;
        }
      }
    }

    &-3 {
      display: flex;
      width: 500px;
      align-items: center;

      @include media("<=phone") {
        width: auto;
      }

      justify-content: space-evenly;
      h3 {
        font-size: 2.5rem;
        line-height: 1;
        letter-spacing: 0.05rem;
        margin-bottom: 2.5%;
        @include media("<=phone") {
          font-size: 5rem;
          line-height: 1.2;
          margin-bottom: 2%;
        }
      }
      p {
        line-height: 1.5;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #d0d4d8;

        @include media("<=phone") {
          font-size: 4rem;
          line-height: 1.2;
        }
      }
    }

    &-text {
      margin-right: 5%;

      @include media("<=phone") {
        margin-left: 10%;
      }
    }
  }

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #a54a0f;

    @include media("<=phone") {
      width: 0;
      height: 0;
    }
  }

  &__img {
    width: 700px;
    position: relative;

    @include media("<=phone") {
      width: 700px;
      margin-left: 600px;
    }

    &--circle {
      z-index: -5;
      position: absolute;
      display: block;
      top: 200px;

      left: 120px;
      width: 500px;
      height: 500px;
      border-radius: 400px;
      background-color: #749485;
    }
  }
}
